<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ZLAGODA{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  {% if user %}
  <header class="topbar">
    <div class="brand"><span class="dot"></span> ZLAGODA</div>

    <nav class="nav">
      <a href="/dashboard">Головна</a>

      <a href="/profile">Мій профіль</a>  

      {% if user.role == "Менеджер" %}
        <a href="/employees">Працівники</a>
        <a href="/products-info">Асортимент та Склад</a>
        <a href="/reports">Звіти та Аналітика</a>
      {% endif %}

      {% if user.role == "Касир" %}
        <a href="/employees">Працівники</a>
        <a href="/products-info">Каталог</a>
        <a href="/reports">Звіти та Аналітика</a>
      {% endif %}

      <a href="/customers-cards">Клієнти</a>
    </nav>

    <div class="userbox">
      {{ user.name }} · {{ user.role }}
      <a href="/logout" class="logout">Вихід</a>
    </div>
  </header>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>