<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ZLAGODA{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  {% if user %}
  <header class="topbar">
    <div class="brand"><span class="dot"></span> ZLAGODA</div>

    <nav class="nav">
      <a href="/dashboard">Головна</a>

      {% if user.role == "Менеджер" %}
        <a href="/employees">Працівники</a>
        <a href="/categories">Категорії</a>
        <a href="/products">Товари (Склад)</a>
        <a href="/reports">Звіти</a>
      {% endif %}

      {% if user.role == "Касир" %}
        <a href="/pos">Новий чек (Каса)</a>
        <a href="/my-checks">Мої продажі</a>
      {% endif %}

      <a href="/store-products">Товари в залі</a>
      <a href="/customers">Клієнти</a>
      
      {% if user.role == "Менеджер" %}
        <a href="/checks">Всі чеки</a>
      {% endif %}
    </nav>

    <div class="userbox">
      {{ user.name }} · {{ user.role }}
      <a href="/logout" class="logout">Вихід</a>
    </div>
  </header>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>